
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height:100vh;
    padding:20px 0px;
    background-color:#001;
}

#nav{
    position: relative;
    height: 50px;
    width: 70vw;
    margin: auto;
    overflow: hidden;
    border-radius:.5vw;
}

#nav .Go{
    position: absolute;
    height: 100%;
    width: 7%;
    background-color: rgb(3, 54, 54);
    cursor: pointer;
}

#nav .Go:active{
    background-color: rgb(150, 137, 137);
}

#nav .GoRight{
    right: 0;
}

#nav .Goleft{
    left: 0;
}

#nav .pages{
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgb(146, 29, 29);
    height: 100%;
    width: 86%;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width:thin;
}

#nav .pages h2{
    width: fit-content;
    padding: 10px;
    height: 100%;
    font-size:20px;
    display: grid;
    place-items: center;
    cursor: pointer;

}

#nav .pages h2:hover{
    background-color: aqua;
}